h1 {
  font-family: "Comic Sans MS";
}
h2 {
  font-size: 3vw;
  margin-left: 5vw;
}
h3 {
  color: #ffffffa0;
  font-size: 2.3vw;
}
p {
  font-size: 2vw;
  font-family: "Bahnschrift";
  width: 60vw;
  color: #ffffff;
  margin-left: 1vw;
  margin-bottom: 0;
}
a {
  color: #b0b0b075;
  font-size: 1.5vw;
  font-family: "Bahnschrift";
  margin-left: 2vw;
  text-decoration: none;
}
img {
  width: 20vw;
}
button {
  font-size: 1.5vw;
  padding: 0.75vw;
  font-family: "Bahnschrift";
  margin-left: 10vw;
  background-color: #ffffffb0;
  border-color: #ffffff90;
  width: 10vw;
  text-align: left;
}
table {
  color: white;
  margin-left: 5vw;
}
#body0 {
  background: linear-gradient(to bottom, #197073, #424242, #000000);
  height: 220vw;
  margin: 0;
}
#img3 {
  width: 100vw;
  height: 40vw;
}
#logo {
  width: 6vw;
  float: left;
}
#logo4 {
  width: 6vw;
  float: left;
  margin-left: 94vw;
  margin-top: -6vw;
}
#serie0 {
  margin-left: 45vw;
  margin-top: -15vw;
}
#serie1 {
  margin-left: 45vw;
  margin-top: -15vw;
  border-radius: 2vw;
}
#a0 {
  margin: 0;
  font-size: 1.5vw;
  margin-left: 2vw;
}
#p5 {
  font-size: 18px;
}
#p6 {
  color: #93CCC6;
  font-size: 3vw;
  margin-left: 2vw;
}
#p7 {
  margin-left: 2vw;
}
#th0 {
  padding-bottom: 10px;
}
#h10 {
  font-family: "Bahnschrift";
  margin: 0;
  margin-left: 43vw;
  line-height: 6vw;
  font-size: 2.5vw;
  color: #82ab86;
}
#h11 {
  margin: 0;
  margin-top: 8vw;
  margin-bottom: 5vw;
  margin-left: 2vw;
  font-family: "Bahnschrift";
  font-style: italic;
  font-size: 3vw;
  color: #79a8a3;
}
#h20 {
  font-family: "Century Gothic";
  color: #000000;
}
#h21 {
  color: #F9A900d0;
}
#h22 {
  font-family: "Century Gothic";
  color: #ff0000;
}

#div0 {
  background: linear-gradient(to right, #80808060, #c0c0c020, #80808060);
  border-bottom: 0.2vw solid #82ab86;
  position: fixed;
  width:100vw;
}
#div1 {
  margin: 0;
  margin-top: 9vw;
  background: linear-gradient(to right, #B8FDFF80, #FF73B780);
  border-top: 0.2vw solid #000000;
  border-bottom: 0.2vw solid #000000;
}
#div2 {
  margin: 0;
  margin-top: 10vw;
  background: linear-gradient(to right, #ff000080, #b300ce80);
  border-top: 0.2vw solid #000000;
  border-bottom: 0.2vw solid #000000;
}
#div3 {
  margin: 0;
  margin-top: 10vw;
  background: linear-gradient(to right, #ff000080, #ffffff80);
  border-top: 0.2vw solid #000000;
  border-bottom: 0.2vw solid #000000;
}
#div4 {
  background-color: #b0b0b0d0;
  width: 100vw;
  height: 6vw;
  position: fixed;
}
#div5 {
  margin: 0;
  margin-top: 10vw;
  background: linear-gradient(to bottom, #00BFFF10, #00008B15);
  padding-top: 2vw;
  padding-bottom: 10vw;
  padding-left: 5vw;
  border-top: 0.2vw solid #00008B30;
}
#div6 {
  background: linear-gradient(to right, #00CED180, #00000000);
  margin-top: 3vw;
  margin-bottom: 20vw;
  padding-top: 1vw;
  padding-bottom: 3vw;
}