#h1_0 {
  font-family: Calibri;
  color: red;
  font-size: 30px;
}
#h1_00 {
  font-family: Calibri;
}
#nav0 {
  background-color: #f5f5dc;
  font-family: Consolas;
  font-size: 20px
}
#h1_1 {
  font-family: "Times New Roman";
  color: #cdaa7d;
  font-size: 30px;
  font-style: italic;
}
#img0 {
  width: 400px;
}
#img_capi {
  width: 90px;
  margin-top: 131px;
}
#div0 {
  width: 15vw;
  text-align: center;
  margin-left: 80vw;
  margin-top: 400px;
  background-color: #f5f5dc;
  
}